<h2>Date Dimension</h2>

<%= will_paginate @dimension_pages %>
<table class="report">
  <tr>
    <%  DateDimension.columns.each do |column| -%>
    <th><%= column.name.humanize.titleize %></th>
    <%  end -%>
  </tr>
<%  @dimension_pages.each do |record| -%>
  <tr>
    <%  DateDimension.columns.each do |column| -%>
    <td><%= record.send(column.name.to_sym) %></td>
    <%  end -%>
  </tr>
<%  end -%>
</table>
<%= will_paginate @dimension_pages %>
