<p>
  <%= link_to 'Demo Home', :controller => 'demo' %>
  <%= link_to 'Top of Report', :action => 'example3'%>
</p>

<%= render_cube(:product_sales, :date, :product,
  :column => {
    :hierarchy => :cy
  },
  :row => { 
    :hierarchy => :product
  },
  :html_options => {
    :report_class => 'report'
  }, 
  :format => {
    :gross_margin => Proc.new {|value| sprintf("%.2f", value) }
  }) %>