<p>
  <%= link_to 'Demo Home', :controller => 'demo' %>
  <%= link_to 'Top of Report', :action => 'example1'%>
</p>

<%= render_cube(:regional_sales, :date, :store, 
  :column => {
    :hierarchy => :cy,
    :constraints => {
      :calendar_year => ['2005','2006']
    }
  },
  :row => {
    :hierarchy => :region
  },
  :html_options => {
    :report_class => 'report'
  },
  :format => {
    :gross_margin => Proc.new {|value| sprintf("%.2f", value) }
  }) %>