<div id="header">
  <h1>Let's Get Analytical</h1>
  <h2>Data Warehouse on Rails!</h2>
</div>

<div id="getting-started">
  <h1>ActiveWarehouse Demo</h1>

  <p>This is a simple demo to show how ActiveWarehouse works.</p>
  <ol>
    <li>
      <h2>Warehouse structure</h2>
      <%= image_tag 'entity_diagram.png', :alt => 'Warehouse Diagram' %>
    </li>
    <li>
      <h2>Report Examples</h2>
      <p><%= link_to 'Example #1', :action => 'example1' %></p>
    </li>
  </ol>
</div>